$letter-color-footer: #f4f0f0e5;
$fotter-color: #570606;
$nav-color: #f19d30;
$h2-color: rgb(45, 44, 44);
$border-color: rgba(138, 136, 136, 0.407);
$box-color: rgba(255, 255, 255, 0.52);
$shadow-color: rgb(95, 93, 93);
$letter-color: rgb(98, 95, 95);